<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Lista de Tutores</title>
</head>
<body class="p-6">
<div th:insert="~{fragments/header :: header}">
    MENU NO HEADER
</div>
<div>
    <h1 class="text-xl font-black text-black text-center mb-4">Lista de Animais</h1>

    <div class="text-center mt-8">
        <a class="text-black mb-4" th:href="@{/animais/novo}" >Novo animal</a>
    </div>

    <div class="p-6">
        <table class="w-full border-collapse">
            <thead>
            <tr class="bg-violet-600 text-white">
                <th class="p-3 text-left">ID</th>
                <th class="p-3 text-left">Nome</th>
                <th class="p-3 text-left">Tipo</th>
                <th class="p-3 text-left">Raça</th>
                <th class="p-3 text-left">Data de Nascimento</th>
                <th class="p-3 text-left">Peso</th>
                <th class="p-3 text-left">Castrado</th>
                <th class="p-3 text-left">Tutor</th>
                <th class="p-3 text-left">Ações</th>
            </tr>
            </thead>

            <tbody>
            <tr class="border-b" th:each="animal : ${animais}">
                <td class="p-3 text-gray" th:text="${animal.id}">id</td>
                <td class="p-3" th:text="${animal.nome}">nome</td>
                <td class="p-3" th:text="${animal.tipo}">tipo</td>
                <td class="p-3" th:text="${animal.raca}">raça</td>
                <td class="p-3" th:text="${animal.dataNascimento}">data nascimento</td>
                <td class="p-3" th:text="${animal.peso}">peso</td>
                <td class="p-3" th:text="${animal.castrado}">castrado</td>
                <td class="p-3" th:text="${animal.tutorCpf}">tutor</td>

                <td class="p-3">
                    <a class="text-blue-600 hover:underline" th:href="@{/animais/editar/{id}(id=${animal.id})}">Editar</a>
                    <a class="text-blue-600 hover:underline" th:href="@{/animais/deletar/{id}(id=${animal.id})}">Deletar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>