<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>HOME</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <style>
    .hamburger {
      transition: transform 0.3s ease;
    }
    .hamburger.active {
      transform: rotate(90deg);
    }
  </style>
</head>
<body class="bg-gray-100 p-6">
<div th:insert="~{fragments/header :: header}">
  MENU NO HEADER
</div>
<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-6 text-center" >HOME</h1>
<!--  <h1 class="text-3xl font-bold mb-6 text-center" >Olá, <span th:text="${#authentication.principal.username}">Usuário</span>!</h1>-->

</div>

</body>
</html>